<div id="homePage">
    <div id="titles" class="row">
        <h3>Categories<h3>
                <div class="cat">
                    <div class="services__content" ng-repeat="data in cat">
                        <img class='carousel__img' src='frontend/module/home/view/category/{{data.img}}' alt=''
                            style='max-width: 290px; height: 200px;'>
                        <h3 class='carousel__img'>{{data.id}}</h3>
                    </div>
                </div>
    </div>
    <div id="titles" class="row">
        <h3>Types</h3>
    </div>
    <div id="containerTypes" class="row"></div>
    <div class="carousel__list">hola</div>
</div>